html{
    background-color: #fd964c;
}

body{
    background-color: #fd964c;
}

#header {
    /*display: flex;*/
    width: 90vw;
    height: 8em;
    margin-top: 1vw;
    margin-left: 3.5vw;
}

.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    
}

#container-fluid {
    display: flex;
    justify-content: space-around;
    
}

#carousel{
    height: 6%;
    width: 70%;
    margin-left: 15%;
    margin-top: 1em;
    background-color: green;
    
}

#btn-perfil,
#btn-oferta{
    margin-left: 1em;
}

#btn-cesta,
#btn-perfil,
#btn-oferta {
    margin-top: 1.3em;
    float: right;
    
    height: 3em;
    width: 3em;
}

#button-navbar-toggler {
    margin-left: 1em;
    margin-top: 0.9em;
    height: 3em;
    width: 3em;
    
}

#imagenlogo {
    justify-content: space-around;
    margin-left: 1em;
    height: 6em;
    width: 15em;
}

#cart {
    margin-top: 1.5em;
    height: 1.7em;
}

#searcher {
    width: 90vw;
    height: 15em;
    margin-top: 1vw;
    margin-left: 3.5vw;
}

#body {
    width: 90vw;
    height: 40em;
    margin-top: 1vw;
    margin-left: 3.5vw;
}

#footer {
    width: 90vw;
    height: 12em;
    margin-top: 1vw;
    margin-left: 3.5vw;
}